<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.myapplication">

    <uses-sdk android:minSdkVersion="14" />
    <!-- 日历 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission
        android:name="android.permission.START_VIEW_PERMISSION_USAGE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission
        android:name="android.permission.START_VIEW_PERMISSION_USAGE"
        tools:ignore="ProtectedPermissions" /> <!-- 彩信 -->
    <!-- normal -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- dangerous -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- 定位 -->
    <!-- dangerous -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- 如果需要精确定位的话请加上此权限 -->
    <!-- dangerous -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- 如果需要粗略定位的话请加上此权限 -->
    <uses-permission android:name="android.permission.CAMERA" /> <!-- 录音 -->
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" /> <!-- 读写手机存储 -->
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- 开启、关闭wifi -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" /> <!-- 桌面快捷方式 normal -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INSTALL_SHORTCUT" /> <!-- 相机权限 -->
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" /> <!-- 唤醒锁定权限 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" /> <!-- V380sdk权限 -->
    <!-- 访问互联网 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 读写SD卡 -->
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- 访问WIFI信息 并修改网络信息 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" /> <!-- 定位权限，访问手机WiFi列表需要使用 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- 录音权限 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" /> <!-- 设备列表更新IP用到 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="31">
        <activity
            android:name=".viewpager.ViewPager1_2Activity"
            android:exported="false" />
        <activity
            android:name=".navigation.NavigationActivity"
            android:exported="false" />
        <activity
            android:name=".fragment.FragmentActionActivity"
            android:exported="false" />
        <activity
            android:name=".fragment.FragmentMenuActivity"
            android:exported="false" />
        <activity
            android:name=".viewpager.ViewPager1Activity"
            android:exported="false" />
        <activity
            android:name=".viewpager.ViewPagerMenuActivity"
            android:exported="false" />
        <activity
            android:name=".animation.FrameAnimationActivity"
            android:exported="false" />
        <activity
            android:name=".animation.AnimationDemoActivity"
            android:exported="false" />
        <activity
            android:name=".databinding.DataBindingMenuActivity"
            android:exported="false" />
        <activity
            android:name=".databinding.DataBindingDemoActivity"
            android:exported="false" />
        <activity
            android:name=".TestActivity"
            android:exported="false" />
        <activity
            android:name=".tablayout.LoopViewPagerActivity"
            android:exported="false" />
        <activity
            android:name=".tablayout.TabLayoutMenuActivity"
            android:exported="false" />
        <activity
            android:name=".customview.ClickEventDispatcherActivity"
            android:exported="false" />
        <activity
            android:name=".fragment.FragmentDemoActivity"
            android:exported="false" />
        <activity
            android:name=".setupnet.PlayBackVideoActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".setupnet.PlayBackActivity"
            android:exported="false"
            android:launchMode="singleTask" />
        <activity
            android:name=".gesture.GestureDemoActivity"
            android:exported="false" />
        <activity
            android:name=".surfaceview.SurfaceDemoActivity"
            android:exported="false" />
        <activity
            android:name=".setupnet.QRCodeConnectActivity"
            android:exported="false" />
        <activity
            android:name=".setupnet.PreviewActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|keyboard"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".setupnet.APConnectActivity"
            android:exported="false" />
        <activity
            android:name=".setupnet.WifiConnectActivity"
            android:exported="false" />
        <activity
            android:name=".setupnet.SetupNetDemoActivity"
            android:exported="false" />
        <activity
            android:name=".wifi.WifiP2PActivity"
            android:exported="false" />
        <activity
            android:name=".notification.NotificationDemoActivity"
            android:exported="false" />
        <activity
            android:name=".rxjava.RxJavaDemoActivity"
            android:exported="false" />
        <activity
            android:name=".eventbus.EventBusDemoActivity"
            android:exported="false" />
        <activity
            android:name=".multiThread.MultipleThreadDemoActivity"
            android:exported="false" />
        <activity
            android:name=".hotupdate.HotUpdateDemoActivity"
            android:exported="false" />
        <activity
            android:name=".okhttp.OkHttpDemoActivity"
            android:exported="false" />
        <activity
            android:name=".qrcode.ScanActivity"
            android:exported="false"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar" />
        <activity
            android:name=".qrcode.CustomScanQrcodeActivity"
            android:exported="false" />
        <activity
            android:name=".wifi.WifiDemoActivity"
            android:exported="false" />
        <activity
            android:name=".qrcode.HuaweiQRCode2Activity"
            android:exported="false" />
        <activity
            android:name=".qrcode.QRCodeMenuActivity"
            android:exported="false" />
        <activity
            android:name=".qrcode.HuaweiQRCodeActivity"
            android:exported="false" />
        <activity
            android:name=".media.MediaDemoActivity"
            android:exported="false" />
        <activity
            android:name=".album.VideoCheckActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true"
            android:screenOrientation="fullSensor"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar" />
        <activity
            android:name=".album.PhotoCheckActivity"
            android:exported="false"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar" />

        <service
            android:name=".album.ScreenShotService"
            android:enabled="true"
            android:exported="true"
            android:foregroundServiceType="mediaProjection" />

        <activity
            android:name=".album.PhotoVideoDemoActivity"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.android.application.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".album.AlbumActivity"
            android:exported="false"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar" />
        <activity
            android:name=".customview.MatrixPolyActivity"
            android:exported="false" />
        <activity
            android:name=".customview.ElasticBallActivity"
            android:exported="false" />
        <activity
            android:name=".customview.Bessel2Activity"
            android:exported="false" />
        <activity
            android:name=".customview.Bessel3Activity"
            android:exported="false" />
        <activity
            android:name=".customview.CustomViewMenuActivity"
            android:exported="false" />
        <activity
            android:name=".customview.CustomViewDemoActivity"
            android:exported="false" />
        <activity
            android:name=".permission.PermissionMenuActivity"
            android:exported="false" />
        <activity
            android:name=".permission.EasyPermissionActivity"
            android:exported="false" />
        <activity
            android:name=".permission.DataAccessReasonActivity"
            android:exported="true"
            android:permission="android.permission.START_VIEW_PERMISSION_USAGE">
            <intent-filter>
                <action android:name="android.intent.action.VIEW_PERMISSION_USAGE" />
                <action android:name="android.intent.action.VIEW_PERMISSION_USAGE_FOR_PERIOD" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".permission.PermissionDemoActivity"
            android:exported="false" />
        <activity
            android:name=".tablayout.TabLayoutDemoActivity"
            android:exported="false" />
        <activity
            android:name=".recycleview.ItemDecorationActivity"
            android:exported="false" />
        <activity
            android:name=".recycleview.StaggeredGridRecyclerviewActivity"
            android:exported="false" />
        <activity
            android:name=".recycleview.GridRecyclerviewActivity"
            android:exported="false" />
        <activity
            android:name=".recycleview.LinearLayoutRecyclerviewActivity"
            android:exported="false" />
        <activity
            android:name=".recycleview.RecyclerViewDemoActivity"
            android:exported="false" />

        <provider
            android:name=".contentprovider.DemoContentProvider1"
            android:authorities="com.example.myapplication.provider"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".contentprovider.CustomContentProviderActivity"
            android:exported="false" />
        <activity
            android:name=".contentprovider.SQLiteDemoActivity"
            android:exported="false" />
        <activity
            android:name=".contentprovider.CalenderProviderActivity"
            android:exported="false" />
        <activity
            android:name=".contentprovider.ContentProviderDemoActivity"
            android:exported="false" />
        <activity
            android:name=".broadcast.BroadcastDemoActivity1"
            android:exported="false" />

        <service
            android:name=".service.DemoIntentService1"
            android:exported="false" />
        <service
            android:name=".service.DemoService1"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".service.ServiceDemoActivity"
            android:exported="false" />
        <activity
            android:name=".activity.IntentFlagActivity2"
            android:exported="false" />
        <activity
            android:name=".activity.IntentFlagActivity1"
            android:exported="false"
            android:launchMode="standard" />
        <activity
            android:name=".activity.IntentFlagActivity"
            android:exported="false"
            android:launchMode="standard" />
        <activity
            android:name=".activity.LaunchModeActivity4"
            android:exported="false"
            android:launchMode="singleInstance" />
        <activity
            android:name=".activity.LaunchModeActivity3"
            android:exported="false"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.LaunchModeActivity2"
            android:exported="false" />
        <activity
            android:name=".activity.LaunchModeActivity1"
            android:exported="false"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.ExampleActivity4"
            android:exported="false" />
        <activity
            android:name=".activity.ExampleActivity3"
            android:exported="false" />
        <activity
            android:name=".activity.ExampleActivity2"
            android:exported="false" />
        <activity
            android:name=".activity.ExampleActivity1"
            android:exported="false" />
        <activity
            android:name=".intent.IntentActivity"
            android:exported="false">

            <!-- 限定了该Activity能够相应的Intent类型 -->
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActivityDemo1"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>